@import 'header.css';
.actividades {
    min-height: 235px;
    background-color: lightgray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.50), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1px 10px 10px 10px;
    margin-bottom: 10px;
}
.actividades img {
    margin-right: 10px;
    margin-top: 10px;
    width: auto;
    height: 170px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.50), 0 1px 2px rgba(0,0,0,0.24);
}
